<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="428"
    android:versionName="6.24.3"
    android:compileSdkVersion="35"
    android:compileSdkVersionCodename="15"
    package="sputnik.axmor.com"
    platformBuildVersionCode="35"
    platformBuildVersionName="15">
    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="35"/>
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"/>
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.CONFIGURE_SIP"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <queries>
        <package android:name="ru.sberbankmobile"/>
        <package android:name="com.idamob.tinkoff.android"/>
        <package android:name="ru.vtb24.mobilebanking.android"/>
        <package android:name="ru.alfabank.mobile.android"/>
        <package android:name="ru.raiffeisennews"/>
        <package android:name="com.openbank"/>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
        </intent>
        <package android:name="ru.yoo.money"/>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data
                android:scheme="@string/sberbank_online_scheme"
                android:host="@string/sberbank_online_host"/>
        </intent>
        <intent>
            <action android:name="android.support.customtabs.action.CustomTabsService"/>
        </intent>
        <intent>
            <action android:name="android.media.browse.MediaBrowserService"/>
        </intent>
        <package android:name="com.huawei.works"/>
    </queries>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <permission
        android:name="sputnik.axmor.com.permission.PROCESS_PUSH_MSG"
        android:protectionLevel="signature"/>
    <permission
        android:name="sputnik.axmor.com.permission.PUSH_PROVIDER"
        android:protectionLevel="signature"/>
    <permission
        android:name="sputnik.axmor.com.permission.PUSH_WRITE_PROVIDER"
        android:protectionLevel="signature"/>
    <uses-permission android:name="sputnik.axmor.com.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="sputnik.axmor.com.permission.PUSH_PROVIDER"/>
    <meta-data
        android:name="com.huawei.hms.min_api_level:apptouch:apptouch"
        android:value="1"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature
        android:glEsVersion="0x20000"
        android:required="false"/>
    <uses-permission android:name="ru.sberbank.mobile.sberid.BIND_PERSONALIZATION_SERVICE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_ATTRIBUTION"/>
    <uses-permission android:name="android.permission.ACCESS_ADSERVICES_AD_ID"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <permission
        android:name="sputnik.axmor.com.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"
        android:protectionLevel="signature"/>
    <uses-permission android:name="sputnik.axmor.com.DYNAMIC_RECEIVER_NOT_EXPORTED_PERMISSION"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <uses-permission android:name="com.huawei.permission.ACCESS_HW_KEYSTORE"/>
    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_our_home"
        android:name="sputnik.axmor.com.sputnik.SputnikApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:extractNativeLibs="true"
        android:networkSecurityConfig="@xml/network_s_config"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:hasFragileUserData="true"
        android:enableOnBackInvokedCallback="true">
        <meta-data
            android:name="com.huawei.messaging.default_notification_icon"
            android:resource="@drawable/ourhome"/>
        <service
            android:name="sputnik.axmor.com.sputnik.core.push.PushIntentService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.huawei.push.action.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.huawei.hms.support.api.push.PushMsgReceiver"/>
        <receiver android:name="com.huawei.hms.support.api.push.PushReceiver"/>
        <service
            android:name="sputnik.axmor.com.sputnik.services.ble_service.BeaconTrackingService"
            android:enabled="true"
            android:exported="true"
            android:process=":bleService"
            android:foregroundServiceType="location"/>
        <activity
            android:theme="@style/NewTheme"
            android:name="sputnik.axmor.com.sputnik.ui.root.SputnikRootActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:configChanges="uiMode"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"/>
                <data android:scheme="http"/>
                <data android:host="applinks.sputnik.systems"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_splash"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_main_no_intercom"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_main"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_subscription"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_about_app"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_about_company"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_our_home"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_no_permissions"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="string"/>
                <data android:path="/deeplink_family"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/NewTheme"
            android:name="sputnik.axmor.com.sputnik.ui.call.CallActivity"
            android:exported="true"
            android:taskAffinity=""
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:showOnLockScreen="true"/>
        <activity
            android:theme="@style/NewThemeEmptySplash"
            android:name="sputnik.axmor.com.sputnik.ui.splash.CustomEmptySplashActivity"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <service
            android:name="sputnik.axmor.com.sputnik.services.call_service.CallNotificationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="microphone|phoneCall|mediaPlayback"/>
        <receiver
            android:name="sputnik.axmor.com.sputnik.services.call_service.CallNotificationActionReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="999">
                <action android:name="ConstantApp.CALL_RECEIVE_ACTION"/>
                <action android:name="ConstantApp.CALL_CANCEL_ACTION"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="sputnik.axmor.com.sputnik.widgets.NewAppSmallWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_small_widget_info"/>
        </receiver>
        <receiver
            android:name="sputnik.axmor.com.sputnik.widgets.NewBigAppWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_big_app_widget_info"/>
        </receiver>
        <receiver
            android:name="sputnik.axmor.com.sputnik.widgets.SmallOpenDoorWidget"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/small_open_door_widget_info"/>
        </receiver>
        <receiver
            android:name="sputnik.axmor.com.sputnik.widgets.BigWidgetCameras"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/cameras_widget_info"/>
        </receiver>
        <service
            android:name="sputnik.axmor.com.sputnik.core.service.AppService"
            android:enabled="true"
            android:exported="true"/>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.fileprovider;sputnik.axmor.com"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="sputnik.axmor.com.sputnik.ui.settings.SettingsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="sputnik.axmor.com.sputnik.ui.settings.BleSettingsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="sputnik.axmor.com.sputnik.ui.settings.push.PushSettingsActivity"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="sputnik.axmor.com.sputnik.ui.main.market.services.archive_service.FlussonicActivity"
            android:exported="true"/>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ourhome"/>
        <activity
            android:name="ru.yoomoney.sdk.auth.openSbol.OpenSbolActivity"
            android:exported="true"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$BootstrapActivity"
            android:exported="true"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyActivity"
            android:exported="true"/>
        <activity
            android:name="androidx.test.core.app.InstrumentationActivityInvoker$EmptyFloatingActivity"
            android:exported="true"/>
        <activity
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
            android:name="com.sputnik.common.ui.fragments.HDESupportActivity"
            android:exported="false"/>
        <service
            android:name="sputnik.axmor.com.sputnik.services.notification_service.NotificationActionForegroundService"
            android:exported="false"/>
        <receiver
            android:name="sputnik.axmor.com.sputnik.services.ble_service.RebootBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/ym_Theme"
            android:name="ru.yoomoney.sdk.kassa.payments.threeDS.WebViewActivity"
            android:exported="false"
            android:screenOrientation="locked"/>
        <activity
            android:theme="@style/ym_Theme.Translucent"
            android:name="ru.yoomoney.sdk.kassa.payments.ui.PendingIntentActivity"
            android:exported="false"
            android:screenOrientation="locked"/>
        <activity
            android:theme="@style/ym_Theme.Translucent"
            android:name="ru.yoomoney.sdk.kassa.payments.ui.CheckoutActivity"
            android:exported="false"
            android:screenOrientation="locked"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/ym_Theme.Translucent"
            android:name="ru.yoomoney.sdk.kassa.payments.confirmation.ConfirmationActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|screenLayout|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/ym_app_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/ym_Theme"
            android:name="ru.yoomoney.sdk.kassa.payments.contract.savePayment.SavePaymentMethodInfoActivity"
            android:exported="false"
            android:screenOrientation="locked"/>
        <service
            android:name="com.group_ib.sdk.MobileSdkService"
            android:exported="false"/>
        <activity
            android:theme="@style/SpayThemeMyTransparent"
            android:label="@string/spay_empty_string"
            android:name="spay.sdk.RedirectActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="spaysdk"
                    android:host="payment"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SpayThemeMyTransparent"
            android:label="@string/spay_empty_string"
            android:name="spay.sdk.utils.permissions.PermissionsActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <receiver
            android:name="spay.sdk.utils.receiver.OtpReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE"/>
            </intent-filter>
        </receiver>
        <service
            android:name="zone.bi.mobile.fingerprint.impl.cs.FpWorkerService"
            android:exported="false"
            android:isolatedProcess="true"/>
        <service
            android:name="ru.yoomoney.sdk.auth.location.GoogleLocationService"
            android:exported="false"/>
        <service
            android:name="ru.yoomoney.sdk.auth.location.HuaweiLocationService"
            android:exported="false"/>
        <activity
            android:theme="@style/Theme.Yoo"
            android:name="ru.yoomoney.sdk.auth.AuthEntryActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/Theme.Yoo"
            android:name="ru.yoomoney.sdk.auth.AccountActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:theme="@style/Theme.Yoo"
            android:name="ru.yoomoney.sdk.auth.auxToken.AuxTokenIssueActivity"
            android:exported="true"
            android:screenOrientation="locked"/>
        <activity
            android:theme="@style/Theme.Yoo"
            android:name="ru.yoomoney.sdk.auth.qrAuth.QrAuthActivity"
            android:exported="true"
            android:screenOrientation="locked"/>
        <activity
            android:name="ru.yoomoney.sdk.two_fa.EntryPointActivity"
            android:exported="true"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustResize"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:location"
            android:value="location:6.12.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:location:location"
            android:value="1"/>
        <meta-data
            android:name="com.huawei.hms.client.bi.setting"
            android:value="true"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:com.huawei.hms:location:location"
            android:value="1"/>
        <meta-data
            android:name="com.huawei.hms.jos.versioncode"
            android:value="50004303"/>
        <service
            android:name="com.huawei.hms.support.api.push.service.HmsMsgService"
            android:enabled="true"
            android:exported="true"
            android:process=":pushservice"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider
            android:name="com.huawei.hms.support.api.push.PushProvider"
            android:readPermission="sputnik.axmor.com.permission.PUSH_PROVIDER"
            android:writePermission="sputnik.axmor.com.permission.PUSH_WRITE_PROVIDER"
            android:exported="true"
            android:authorities="sputnik.axmor.com.huawei.push.provider"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:push"
            android:value="push:6.9.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:push:push"
            android:value="1"/>
        <activity
            android:name="com.huawei.hms.support.api.push.TransActivity"
            android:exported="false"/>
        <provider
            android:name="com.huawei.hms.aaid.InitProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.aaidinitprovider"
            android:initOrder="500"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:opendevice"
            android:value="opendevice:6.9.0.300"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:opendevice:push"
            android:value="1"/>
        <meta-data
            android:name="com.huawei.hms.client.service.name:base"
            android:value="base:6.11.0.302"/>
        <meta-data
            android:name="com.huawei.hms.min_api_level:base:hmscore"
            android:value="1"/>
        <meta-data
            android:name="availableLoaded"
            android:value="yes"/>
        <provider
            android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.AGCInitializeProvider"/>
        <service
            android:name="com.huawei.agconnect.core.ServiceDiscovery"
            android:exported="false"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>
        <service
            android:name="androidx.camera.core.impl.MetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="androidx.camera.core.impl.MetadataHolderService.DEFAULT_CONFIG_PROVIDER"
                android:value="androidx.camera.camera2.Camera2Config$DefaultProvider"/>
        </service>
        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true"/>
        <activity
            android:name="sberid.sdk.auth.view.activity.WebViewActivity"
            android:exported="false"/>
        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
            <meta-data
                android:name="com.google.android.gms.cloudmessaging.FINISHED_AFTER_HANDLED"
                android:value="true"/>
        </receiver>
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false"
            android:directBootAware="true">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.FirebaseRemoteConfigKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.FirebaseCrashlyticsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.ktx.FirebaseDatabaseKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.sessions.FirebaseSessionsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.ktx.FirebaseCommonLegacyRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.FirebaseCommonKtxRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service
            android:name="com.yandex.metrica.MetricaService"
            android:enabled="true"
            android:exported="false"
            android:process=":Metrica">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="com.yandex.metrica.IMetricaService"/>
                <data android:scheme="metrica"/>
            </intent-filter>
            <meta-data
                android:name="metrica:api:level"
                android:value="106"/>
        </service>
        <provider
            android:name="com.yandex.metrica.PreloadInfoContentProvider"
            android:enabled="true"
            android:exported="true"
            android:process=":Metrica"
            android:authorities="sputnik.axmor.com.appmetrica.preloadinfo.retail"/>
        <property
            android:name="android.adservices.AD_SERVICES_CONFIG"
            android:resource="@xml/ga_ad_services_config"/>
        <service
            android:name="com.google.firebase.sessions.SessionLifecycleService"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.firebaseinitprovider"
            android:initOrder="100"
            android:directBootAware="true"/>
        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false"/>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.androidx-startup">
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.emoji2.text.EmojiCompatInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.lifecycle.ProcessLifecycleInitializer"
                android:value="androidx.startup"/>
            <meta-data
                android:name="androidx.profileinstaller.ProfileInstallerInitializer"
                android:value="androidx.startup"/>
        </provider>
        <service
            android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="@bool/enable_system_job_service_default"
            android:exported="true"
            android:directBootAware="false"/>
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:enabled="@bool/enable_system_foreground_service_default"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.utils.ForceStopRunnable.BroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="false"/>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryChargingProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.BatteryNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.StorageNotLowProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxy.NetworkStateProxy"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver"
            android:enabled="false"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver"
            android:enabled="@bool/enable_system_alarm_service_default"
            android:exported="false"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <uses-library
            android:name="androidx.window.extensions"
            android:required="false"/>
        <uses-library
            android:name="androidx.window.sidecar"
            android:required="false"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false"/>
        <activity
            android:name="androidx.compose.ui.tooling.PreviewActivity"
            android:exported="true"/>
        <uses-library
            android:name="android.ext.adservices"
            android:required="false"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.com.squareup.picasso"/>
        <service
            android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery"
            android:exported="false">
            <meta-data
                android:name="backend:com.google.android.datatransport.cct.CctBackendFactory"
                android:value="cct"/>
        </service>
        <service
            android:name="androidx.room.MultiInstanceInvalidationService"
            android:exported="false"
            android:directBootAware="true"/>
        <service
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false"/>
        <receiver
            android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"
            android:exported="false"/>
        <receiver
            android:name="androidx.profileinstaller.ProfileInstallReceiver"
            android:permission="android.permission.DUMP"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.INSTALL_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SKIP_FILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.SAVE_PROFILE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="androidx.profileinstaller.action.BENCHMARK_OPERATION"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.huawei.updatesdk.service.otaupdate.AppUpdateActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent.NoTitleBar"/>
        </activity>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:name="com.huawei.updatesdk.support.pm.PackageInstallerActivity"
            android:exported="false"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <provider
            android:name="com.huawei.updatesdk.fileprovider.UpdateSdkFileProvider"
            android:exported="false"
            android:authorities="sputnik.axmor.com.updateSdk.fileProvider"
            android:grantUriPermissions="true"/>
        <activity
            android:theme="@style/Theme.PlayCore.Transparent"
            android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity"
            android:exported="false"
            android:stateNotNeeded="true"/>
        <uses-library
            android:name="hwkeystore"
            android:required="false"/>
        <activity
            android:theme="@style/Base_Translucent"
            android:name="com.huawei.hms.activity.BridgeActivity"
            android:exported="false"
            android:excludeFromRecents="true"
            android:screenOrientation="behind"
            android:configChanges="fontScale|layoutDirection|smallestScreenSize|screenSize|uiMode|screenLayout|orientation|locale"
            android:hardwareAccelerated="true">
            <meta-data
                android:name="hwc-theme"
                android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity
            android:name="com.huawei.hms.activity.EnableServiceActivity"
            android:exported="false"
            android:configChanges="smallestScreenSize|screenSize|screenLayout|orientation|keyboardHidden"/>
        <meta-data
            android:name="com.huawei.hms.client.appid"
            android:value="appid=102324535"/>
    </application>
</manifest>
